<form (ngSubmit)="createBook()" [formGroup]="bookForm">
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title">
    <div *ngIf="isInvalid('title')" style="color:red">Please, enter book title</div>
  </div>
  <div>
    <label for="author">Author</label>
    <input type="text" id="author" formControlName="author">
    <div *ngIf="isInvalid('author')" style="color:red">Please, enter book author</div>
  </div>
  <div>
    <label for="year">Year</label>
    <input type="text" id="year" formControlName="year" ngModel>
  </div>
  <div>
    <label for="pages">Pages</label>
    <input type="text" id="pages" formControlName="pages">
  </div>
  <div>
    <label for="description">Description</label>
    <textarea type="text" id="description" formControlName="description"></textarea>
  </div>

  <button mat-button type="submit" [disabled]="!bookForm.valid">Save</button>
</form>
